<md-card [style.background]="'lightBlue'"
         [style.minHeight]="'100%'"
         [style.minWidth]="'100%'"
         [style.cursor]="'pointer'"
         fxLayoutAlign="center center"
         (click)="alertClick()"
         [style.padding]="'0px'"
         [style.fontSize]="'1em'"
         [style.lineHeight]="'1.125'"
>
  <!--<md-card-title>{{alertType.display}}</md-card-title>-->
  <md-card-content #mdCardContent [style.padding]="'5px'" fxLayout="column" fxLayoutAlign="center center">
    <button md-fab>
      <md-icon>{{alert.icon}}</md-icon>
    </button>
    <br>
    <div align="center" [style.minHeight]="'2.25em'" >{{alert.display | truncate: truncateLength}}</div>
  </md-card-content>
</md-card>

